---
title: häufig gestellten Fragen zu Brightcove-Kampagnen
description: Dieses Thema enthält einige der häufig gestellten Fragen zu Brightcove Campaign.
parent: General Information
---

<article class="bcls-article">
  <h1>{{ page.title }}</h1>
  <summary>{{ page.description }}</summary>
  <section class="bcls-section" id="why-how">
    <h2>Warum Kampagne und wie sie funktioniert</h2>
    <dl>
      <dt class="bcls-question">Warum muss ich Videos in meiner Marketing-Automatisierungslösung verfolgen?</dt>
      <dd class="bcls-answer">Marketing-Automatisierungslösungen verfolgen heute keine Videos mehr. Wenn Sie in Videos als leistungsstarken Inhalt investieren, sollten Sie sicherstellen, dass Sie dessen Effektivität verfolgen und die Kommunikation mit Leads / Benutzern automatisieren, die Ihren Inhalt anzeigen. </dd>
      <dt class="bcls-question">Verwenden Brightcove und das Campaign-Modul Cookies?</dt>
      <dd class="bcls-answer">Das Campaign-Modul erstellt und verwendet ein Drittanbieter-Cookie, um Benutzer zu identifizieren, wenn eine Integration vorhanden ist. Auf diese Weise werden die Zuschauer nicht aufgefordert, ein zweites Mal ein Lead-Formular auszufüllen. Das Modul verwendet auch Marketo-, HubSpot- und Eloqua-APIs, die selbst Cookies verwenden, um die Zuschauer zu verfolgen. Bei der Verwendung von Kampagnenprofilen wird ein Brightcove-Cookie verwendet.</dd>
      <dt class="bcls-question">Ist Brightcove Campaign für alle Kunden aktiviert?</dt>
      <dd class="bcls-answer">Nein. Campaign ist als käufliches Add-on für die Video Marketing Suite (VMS) erhältlich. Campaign Profiles steht jedoch jedem Brightcove-Kunden kostenlos zur Verfügung. Sie können es sich als "Campaign-lite" vorstellen.</dd>
      <dt class="bcls-question">Wer hat Anspruch auf Kampagnenprofile?</dt>
      <dd class="bcls-answer">Ab dem vierten Quartal 2017 hat jeder VMS-Kunde kostenlosen Zugriff auf Kampagnenprofile. <a href="/campaign/integrations/non-map/using-campaign-module-track-viewers.html">Kunden müssen es aktivieren, um die Datenverfolgung zu starten</a>. Für Kunden der Enterprise Video Suite (EVS) steht außerdem Campaign SSO-Tracking zur Verfügung.</dd>
    </dl>
  </section>
  <section class="bcls-section" id="tracking-limitations">
    <h2>Viewer Tracking &amp; Einschränkungen</h2>
    <dl>
      <dt class="bcls-question">Welche Einschränkungen haben Kampagnenprofile im Vergleich zum voll funktionsfähigen Campaign-Modul?</dt>
      <dd class="bcls-answer">
        <ul>
          <li>Keine Integration mit Systemen von Drittanbietern</li>
          <li>Kein API-Zugriff</li>
          <li>Keine benutzerdefinierten Lead-Formulare (nur Kampagnen-Lead-Formulare)</li>
          <li>Maximal 1000 Aufrufe / 24-Stunden-Erfassung</li>
        </ul>
        Sie können Campaign-Daten weiterhin manuell in eine CSV- oder XLS-Datei exportieren.</dd>
      <dt class="bcls-question">Welche Einschränkungen/Anforderungen hat Campaign, wenn es mit einer Marketing-Automatisierungsplattform verbunden ist?</dt>
      <dd class="bcls-answer">Einschränkungen und Anforderungen sind in der Dokumentation für jede Plattform aufgeführt:
        <ul>
          <li><a href="/campaign/integrations/eloqua/integrating-video-cloud-oracle-eloqua.html">Orakel Eloqua</a></li>
          <li>HubSpot (<a href="/campaign/integrations/hubspot/integrating-video-cloud-hubspot-using-client-side-apis.html">Clientseitige APIs</a> oder <a href="/campaign/integrations/hubspot/integrating-video-cloud-hubspot-using-rest-apis.html">REST-APIs</a>)</li>
          <li>Marketo (<a href="/campaign/integrations/marketo/integrating-video-cloud-marketo-using-munchkin.html">Munchkin</a> oder <a href="/campaign/integrations/marketo/integrating-video-cloud-marketo-using-rest-apis.html">REST-APIs</a>)</li>
          <li><a href="/campaign/integrations/salesforce/integrating-video-cloud-salesforce.html">Zwangsversteigerung</a></li>
        </ul>
      </dd>
      <dt class="bcls-question">Gibt es Beschränkungen, wie oft die Zielgruppen-API abgefragt werden kann? Ich weiß, dass die Videosuchergebnisse eine Obergrenze von 1000 haben, aber gibt es andere frequenzbezogene Obergrenzen für diesen API-Endpunkt? </dt>
      <dd class="bcls-answer">Die maximale Anzahl von Ansichtsereignissen pro API-Aufruf beträgt tatsächlich 100. Es gibt keine Ratenbegrenzung, aber wenn Sie versuchen, es zu oft zu nennen, wird es wahrscheinlich etwas langsamer.</dd>
      <dt class="bcls-question">Gibt es eine Möglichkeit, Kampagnendaten schneller als die derzeit vorhandene 3-Stunden-Verzögerung abzurufen? Ich möchte "in Echtzeit" -Metriken erreichen.</dt>
      <dd class="bcls-answer">Nein. Wenn Sie Echtzeitmetriken wünschen, müssen Sie Ihr eigenes Plugin schreiben und Daten an Ihr eigenes System senden.</dd>
      <dt class="bcls-question">Was ist der Auslöser für das Senden einer Ereignisansicht an Campaign? Ist es, wenn das Video fertig ist, wenn das Player-Fenster geschlossen ist oder etwas anderes? Was passiert, wenn der Benutzer das Video nie fertigstellt und sein Player-Fenster nicht schließt?</dt>
      <dd class="bcls-answer">Es variiert, aber im Grunde sendet das Campaign-Plugin alle 10 Sekunden einen Heartbeat an den Server.</dd>
      <dt class="bcls-question">Wann betrachtet Campaign das Tracking einer Ansicht als "abgeschlossen"? Ist es, wenn das Player-Fenster geschlossen ist oder wenn sie das Video vervollständigen? Was passiert, wenn sie auf halbem Weg zuschauen, das Video anhalten und das Player-Fenster niemals schließen?</dt>
      <dd class="bcls-answer">Es ist, wenn 15 Minuten vergangen sind, seit wir das letzte Mal einen Herzschlag gesehen haben, im Grunde genommen mangelnde Aktivität.</dd>
      <dt class="bcls-question">Können sich die Zuschauerdaten ändern, sobald sie in den Kampagnen-Anzeigedaten verfügbar sind? Werden diese Ereignisdaten in Zukunft jemals durch eine Art Protokollkonsolidierung aktualisiert? </dt>
      <dd class="bcls-answer">Sobald die Daten in Campaign über die Benutzeroberfläche oder API verfügbar sind, gelten sie als "abgerechnet" und werden sich nicht ändern.</dd>
    </dl>
  </section>
  <section class="bcls-section" id="data-protection">
    <h2>Datenschutz und Aufbewahrung von Unterlagen</h2>
    <dl>
      <dt class="bcls-question">Ist Campaign DSGVO-konform?</dt>
      <dd class="bcls-answer">
        <p>Ja, Campaign gibt Kunden die Möglichkeit, im Namen ihrer Nutzer zu handeln und alle Daten, die sie über Campaign gesammelt haben, nachzuschlagen und zu löschen. </p>
        <p><a href="/campaign/admin/managing-viewer-data.html">https://studio.support.brightcove.com/campaign/admin/managing-viewer-data.html</a></p>
      </dd>
      <dt class="bcls-question">Wie lange können Daten in Campaign aufbewahrt werden?</dt>
      <dd class="bcls-answer">MAP-Integrationen können auf maximal 6 Monate und Nicht-MAP-Integrationen auf 3 Jahre festgelegt werden. </dd>
      <dt class="bcls-question">Wie lange werden GUID-Lookups zwischengespeichert?</dt>
      <dd class="bcls-answer">30 Tage für bekannte und 7 Tage für unbekannte (gilt nur für MAP-Integrationen, für Nicht-MAP-Integrationen sind keine Suchvorgänge erforderlich)</dd>
    </dl>
  </section>
  <section id="marketing-automation" class="bcls-section">
    <h2>Marketing-Automatisierung und Viewer-Analyse</h2>
    <dl>
      <dt class="bcls-question">Was unterscheidet das Verfolgen von Videos von anderen Medien in meiner Marketing-Automatisierungsplattform?</dt>
      <dd class="bcls-answer">Im Gegensatz zu einer Webseite oder einem herunterladbaren Whitepaper können Sie mit einem Video genau bestimmen, wie viel des Videos der Betrachter angesehen hat und daher genau, welchen Inhalten er ausgesetzt war. </dd>
      <dt class="bcls-question">Wie verbinde ich mich mit meinem Eloqua / Marketo / HubSpot-Konto?</dt>
      <dd class="bcls-answer">Sie können sich direkt über die Video Marketing Suite im Kampagnenmodul in Ihr Eloqua/Marketo/HubSpot-Konto einloggen. Von dort aus können Sie Player und Lead-Formulare mit integriertem MAP-Tracking erstellen, sodass Sie sofort mit der Verfolgung von Videoanalysen beginnen können.</dd>
      <dt class="bcls-question">Kann ich Ansichten auf meinen Eloqua / Marketo / HubSpot-Seiten sowie auf meinen Nicht-Eloqua / Marketo / HubSpot-Zielseiten (Sitecore / WordPress / Galerie usw.) verfolgen? </dt>
      <dd class="bcls-answer">Ja, solange der verwendete Player „Kampagnen aktiviert“ ist (wenn das Campaign-Plugin installiert ist), werden alle Aufrufe erfasst, unabhängig davon, ob sich der Player auf einer MAP-Landingpage oder einer anderen Landingpage befindet.</dd>
      <dt class="bcls-question">Was kann ich mit dieser Integration verfolgen?</dt>
      <dd class="bcls-answer">Mit unserer Integration können Sie Videoanzeigeanalysen (Video, Video-ID, angezeigter Prozentsatz, angesehene Zeit) für bekannte Kontakte verfolgen, die sich bereits in Ihrer Datenbank befinden.</dd>
      <dt class="bcls-question">Was ist mit unbekannten Kontakten? Kann ich sie auch verfolgen?</dt>
      <dd class="bcls-answer">Mit Brightcove Campaign können Sie unbekannte Kontakte nachverfolgen. Wenn sie dann ein Eloqua/HubSpot-Formular senden (bekannt werden), kann Campaign ihre Zuschauerinformationen rückwirkend mit diesem neuen Kontakt verknüpfen. Campaign übermittelt täglich erneut Zuschauerinformationen, um Daten von unbekannten Kontakten wieder an Ihre Oracle Eloqua/HubSpot-Instanz abzugleichen. </dd>
      <dt class="bcls-question">Wo werden meine Videoansichtsdaten in meiner MAP angezeigt?</dt>
      <dd class="bcls-answer">Dies hängt davon ab, welchen MAP Sie verwenden. In der folgenden Dokumentation finden Sie in der folgenden Dokumentation für <a href="/campaign/integrations/eloqua/eloqua-integration-testing-guide.html">Oracle Eloqua</a>, <a href="/camapign/integrations/marketo/marketo-rest-integration-testing-guide.html">Marketo</a> und <a href="/campaign/integrations/hubspot/hubspot-rest-api-integration-testing-guide.html">HubSpot</a>.</dd>
      <dt class="bcls-question">Wo in Salesforce werden meine Videoanzeigedaten angezeigt?</dt>
      <dd class="bcls-answer">Videoansichten werden als Aufgabe unter dem Kontakt des Betrachters im Abschnitt "Aktivität" in Salesforce bereitgestellt. Sehen <a href="/campaign/integrations/salesforce/integrating-video-cloud-salesforce.html#sfdata">Anzeigen von Videodaten in Salesforce</a> für ein Beispiel dafür. </dd>
      <dt class="bcls-question">Kann ich mit Salesforce benachrichtigt werden, wenn einer meiner Kontakte Videos angesehen hat?</dt>
      <dd class="bcls-answer">Nicht direkt. Sie können jedoch Berichte ausführen, die Sie über die Aktivität eines Kontakts informieren.</dd>
      <dt class="bcls-question">Gibt es einen Unterschied zwischen dem Tracking mit Salesforce und Oracle Eloqua / Marketo?</dt>
      <dd class="bcls-answer">Der größte Unterschied besteht darin, dass Salesforce keine Cookies verwendet, um Benutzer zu verfolgen. Daher sollte eine eindeutige Kennung übergeben werden, um den Betrachter zu identifizieren. Sehen <a href="/campaign/integrations/salesforce/integrating-video-cloud-salesforce.html#identify">dieses Dokument</a> Für mehr Information. Darüber hinaus bietet Salesforce als CRM keine automatisierten Nachverfolgungen oder Lead-Scores an. Sie können jedoch in Salesforce Aufgaben erstellen, die dann Ihrem Verkaufsteam für reale Folgemaßnahmen zugewiesen werden.</dd>
      <dt class="bcls-question">Campaign verfügt über eine „benutzerdefinierte“ Integrationsoption. Welche anderen Plattformen kann Campaign damit integrieren?</dt>
      <dd class="bcls-answer">
        <p>Campaign kann mit jeder Datenplattform „integriert“ werden, die:</p>
        <ol>
          <li>Verwendet eine eindeutige Kennung für jeden Kontaktdatensatz</li>
          <li>Verfügt über eine API, die zusätzliche Daten von Drittanbieterplattformen (wie Campaign) empfangen kann.</li>
        </ol>
      </dd>
    </dl>
  </section>
  <section id="lead-forms" class="bcls-section">
    <h2>Spieler-Lead-Formulare</h2>
    <dl>
      <dt class="bcls-question">Wann zeigt Campaign ein Lead-Formular an?</dt>
      <dd class="bcls-answer">In der Standardeinstellung wird das Lead-Formular nur einem unbekannten Benutzer in Ihrer MAP-Datenbank angezeigt (denjenigen, die Sie in einen bekannten Benutzer konvertieren möchten). Sie können dies in den Einstellungen überschreiben, wenn Sie das Lead-Formular immer anzeigen möchten. Dies ist am nützlichsten zum Testen. Bekannte Benutzer werden automatisch nachverfolgt, und diese Daten werden dem Kontakt in Ihrem MAP zugeordnet, ohne dass ein Formular angezeigt werden muss.</dd>
      <dt class="bcls-question">Kann ich Lead-Formulare anpassen?</dt>
      <dd class="bcls-answer">Sie können den über die Benutzeroberfläche angezeigten Text und die angezeigten Felder anpassen. Sie können es nicht über das hinaus ändern, was in der Benutzeroberfläche verfügbar ist (die Galerie kann einige Stile aktualisieren, damit die Formulare mit der Site übereinstimmen). </dd>
    </dl>
  </section>
  <section id="general" class="bcls-section">
    <h2>Generelle Themen</h2>
    <dl>
      <dt class="bcls-question">Welchen Einbettungscode soll ich verwenden? Iframe oder In-Page?</dt>
      <dd class="bcls-answer">Damit Campaign funktioniert, muss der erweiterte Einbettungscode verwendet werden. Wenn der Standard-Einbettungscode (iframe) verwendet wird, wird der Player von der Seite isoliert, was bedeutet, dass das Campaign-Plugin die eindeutige Kennung nicht sehen kann und daher alle Benutzer als „unbekannt“ angesehen werden.</dd>
      <dt class="bcls-question">Was ist Marketingautomatisierung?</dt>
      <dd class="bcls-answer">Marketing-Automatisierung ist eine Technologie, die die Interaktion von Lead/Benutzern mit verschiedenen Online-Marketingkanälen (E-Mail, Web, Formulare, Inhalte, Video, Social usw.) verfolgt. Die Marketingautomatisierung hilft Marketingfachleuten, über diese Kanäle effektiver zu vermarkten, und automatisiert sich wiederholende Marketingaufgaben (z. B. E-Mail-Kommunikation). Durch die Marketingautomatisierung kann der Vermarkter automatisierte und personalisierte Aufgaben basierend auf vordefinierten Variablen einrichten. Wenn ein Benutzer beispielsweise 75% eines bestimmten Videos ansieht, senden Sie ihm eine E-Mail zu diesem bestimmten Thema. Wenn er jedoch nur 12% ansieht, senden Sie ihm etwas anderes. </dd>
      <dt class="bcls-question">Ist Brightcove ein Marketing-Automatisierungsunternehmen?</dt>
      <dd class="bcls-answer">Nein, Brightcove bietet eine Komplettlösung für das Videomarketing. Mit unserer Lösung können Sie Ihre Videos online stellen, Ihre Inhalte organisieren, Player erstellen, Videoportale erstellen, Analysen verfolgen und in Ihre eigene vorhandene Marketing-Automatisierungsplattform integrieren. Brightcove integriert Videoanalysen in Marketing-Automatisierungsplattformen.</dd>
      <dt class="bcls-question">Wie kann ich überprüfen, ob eine benutzerdefinierte Marketo-Aktivität korrekt eingerichtet ist?</dt>
      <dd class="bcls-answer">Campaign hat eine versteckte URL, die einige Debugging-Tools für bestimmte Arten von Integrationen bietet, darunter Marketo REST. <a href="https://studio.brightcove.com/products/videocloud/campaign/debug">https://studio.brightcove.com/products/videocloud/campaign/debug</a>
        <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Campaign settings " src="/assets/images/campaign/general/faq-debug.png" /></figure>
      </dd>
      <dt class="bcls-question">Was muss getan werden, um eine benutzerdefinierte Integration zu konfigurieren?</dt>
      <dd class="bcls-answer">Drei Dinge müssen getan werden:
        <ol>
          <li>Sie müssen in der URL oder im Code der Seite, die Campaign erfassen kann, eine eindeutige Kennung bereitstellen.</li>
          <li> Erstellen Sie ein Skript, das die Audience-APIs verwendet, um die Daten als JSON-Datei abzurufen (Brightcove Global Services kann dabei helfen).</li>
          <li> Ordnen Sie die Daten Feldern in Ihrer Zieldatenbank zu (denken Sie an das Zusammenführen von Tabellenkalkulationen).</li>
        </ol>
        Die folgende Supportdokumentation behandelt diese Aufgaben:
        <ul>
          <li><a href="/campaign/integrations/non-map/creating-custom-integrations-campaign-module.html">Erstellen benutzerdefinierter Integrationen mit dem Campaign-Modul</a> - Behandelt die Bereitstellung einer eindeutigen Kennung, die Campaign erfassen kann</li>
          <li> <a href="/campaign/develop/overview-audience-api.html">Zielgruppen-API</a> - Beschreibt das programmgesteuerte Abrufen aller Daten als JSON-Datei, die Sie dann in das Datenverarbeitungssystem Ihrer Wahl importieren können</li>
        </ul>
      </dd>
      <dt class="bcls-question">Wie überträgt Campaign CDO-Daten an Eloqua?</dt>
      <dd class="bcls-answer">Wir verwenden die benutzerdefinierte Objekt-Bulk-API. <a href="https://docs.oracle.com/cloud/latest/marketingcs_gs/OMCAC/api-bulk-2.0-customobjects.html">https://docs.oracle.com/cloud/latest/marketingcs_gs/OMCAC/api-bulk-2.0-customobjects.html </a></dd>
      <dt class="bcls-question">Wie pusht Campaign die externen Asset-Aktivitäten? Wie kann ich die verwendeten Kampagnen-, externen Asset- und Aktivitätstypen steuern?</dt>
      <dd class="bcls-answer">Wir verwenden die externe Aktivitäts-API (<a href="https://docs.oracle.com/cloud/latest/marketingcs_gs/OMCAC/op-api-rest-2.0-data-activity-post.html">https://docs.oracle.com/cloud/latest/marketingcs_gs/OMCAC/op-api-rest-2.0-data-activity-post.html</a>). Es gibt keine Kontrolle über den Namen der Kampagne, den Namen oder den Typ des Assets. Wir erstellen einfach eine eigene Kampagne (mit dem Namen BrightcoveVideoPlay) und erstellen dann Aktivitäten mit dem Namen BrightcoveVideoPlay. </dd>
      <dt class="bcls-question">Welche IP-Adressen kann ich auf die Whitelist setzen, damit Campaign mit Service X kommunizieren kann?</dt>
      <dd class="bcls-answer">Campaign hat eine Reihe von IP-Adressen festgelegt, die für das IP-Whitelisting verwendet werden sollten. Um die Liste anzuzeigen, bearbeiten Sie eine Eloqua-Verbindung und klicken Sie auf <a ng-click="showInfo()" ng-if="::!ctrl.hideWhitelistInfo &amp;&amp; ctrl.isEloqua(ctrl.integration)" context="troubleSeeing"><strong>Sie können die Kampagnendaten in Eloqua nicht sehen?</strong></a> Link, um die Liste der IP-Adressen anzuzeigen.</dd>
    </dl>
  </section>
</article>